body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.541);
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
  }
  
  nav li {
    padding: 0 15px 0 15px;
    cursor: pointer;
  }
  
  .hero {
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
  }
  
  .hero button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .myVideo{
    position: absolute; 
    width: 100% ;
    left: 50% ; 
    top: 50%;
    height: 600px;
    /* height: fit-content; */
    object-fit: cover; 
    transform: translate(-50%,-78%);
    /* transform: translate(-50%,-50%); */
    z-index: -1;
}

/* features styling */

.video-with-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .video-container {
    width: 100%;
    flex: 1;
    margin-right: 20px;
  }
  
  .video-container video {
    width: 100%;
    border-radius: 8px;
  }

  .image-container {
    width: 60%;
    flex: 1;
    margin-right: 20px;
  }
  .image-container img {
    width: 100%;
    border-radius: 8px;
  }
  
  .content-container {
    color: #000;
    outline: 2px solid #3498db;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .content-container h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .content-container p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
  }

  .content-container:hover {
    background: #3498db; 
    color: #fff; 
  }

  .features {
    background-color: #EEF5FF;
    display: block;
    text-align: center;
    padding: 50px 0;
  }
  
  .features div:nth-of-type(even){
    flex-direction: row-reverse;
  }

  .features div:nth-of-type(even) .video-container{
    margin-left: 20px;
    margin-right: 0;
  }

  .features div:nth-of-type(even) .image-container{
    margin-left: 20px;
    margin-right: 0;
  }
  /* features styling end */

  /* footer styling starts */

  .footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 30px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo img {
    height: auto;
    width: 100px; 
  }
  
  .footer-links a {
    color: #ecf0f1;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1em;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-links a:hover {
    color: #3498db;
  }
  
  .footer-social a {
    color: #ecf0f1;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-social a:hover {
    color: #3498db;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 0.8em;
    margin: 0;
  }
  
/* footer styling ends */